/* IMPOSTAZIONI GENERALI */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: 0.2em;
}

h1 {
  font-size: 2em;
  margin: 1em 0;
}
h2 {
  font-size: 1.5em;
  margin: 1em;
}
h3 {
  font-size: 1.2em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1em 0;
}
h5 {
  font-size: 0.8em;
  margin: 1em 0;
}
h6 {
  font-size: 0.5em;
  margin: 1em 0;
}

html {
  width: 450px;
  height: 100%;
  padding: 20px;
  border: 5 px;
  margin: 20px;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url(/assets/img/sfondo.png);
}
/* HEADER */

header {
  width: 400px;
  height: 400px;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: #0088aa;
}
.headerimage {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.headertext {
  text-align: center;
  width: 400px;
  color: white;
}

/* MAIN */
main {
  width: 400px;
  height: 400px;
  padding: 0;
  padding-top: 100px;
  margin-top: px;
  border: 0;
  margin: 0;
}

#mainbox {
  width: 400px;
  height: 1300px;
  padding: 0;
  margin: 0;
  border: 0;
  margin: 0;
  background-color: white;
  color: black;
}

/* ELEMENTI NEL MAIN - ARTICLE */
#mainbox i {
  color: grey;
  font-size: large;
}

#mainbox p {
  font-size: 20px;
}

.span1 {
  color: #ab2073;
}

#mainbox {
  font-size: 10px;
}

.mainboxul {
  width: 200px;
  padding: 20px;
  margin: 0;
  border: 0;
  margin: 0;
  font-size: 20px;
}

.span2 {
  color: rgb(62, 59, 59);
}

.mainboxol {
  width: 300px;
  padding: 50px;
  margin: 0;
  border: 0;
  margin: 0;
  font-size: 20px;
}

.span5 {
  color: #ab2073;
}
/* TABELLE */
.table {
  width: 300px;
  padding: 50px;
  margin: 0;
  border: 0;
  margin: 0;
  font-size: 20px;
}
/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
  width: 400px;
  height: 200px;
  padding: 0;
  padding-top: 1000px;
  margin-top: 0;
  border: 0;
  margin: 0;
}

#footer {
  width: 400px;
  height: 200px;
  padding: 0;
  padding-bottom: 100px;
  border: 0;
  margin: 0;
  background-color: #015466;
  color: white;
}
